.ButtonStart {
  display: none;
  background-color: grey;
}
.ButtonOne {
  background-color: green;
}
.ButtonTwo {
}
.Button {

}
/*.Button::before {*/
/*  position: absolute;*/
/*  width: 64px;*/
/*  height: 64px;*/
/*  background: url(./img/icon-flagEng.png);*/
/*  content: '';*/
/*}*/
