.ButtonStart {
  display: none;
  background-color: grey;
}
.ButtonOne {
  background-color: lightsteelblue;
}
.ButtonTwo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  width: 80%;
  overflow: scroll;
}
.Button {
  border: 3px solid ;
  box-shadow: 10px 10px 20px #111B2A;
}